  body{
    background-color:cyan;
  }
  h1{
    color:grey;
  }
  h3{
    color:blue;
  }
    hr{
	border-style: none;
	border-top-style:dotted;
	background-color:white;
	border-color:grey;
	border-width:5px;
	width:5%
}
.top-container{
  margin-top:0;
  margin:0,auto 0, auto 0;
}
.pp{
  border-radius: 50%;
}
img{
  border-radius :50px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
